/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

/* mixin for smiley face bullet points in features section */

@mixin plan-item-smiley {
    li:before {
        background-image: url('../images/checkmark-blue.svg');
        background-size: contain;
        background-repeat: no-repeat;
        content:'';
        height: 13px;
        left: 13px;
        margin-top: 5px;
        position: absolute;
        width: 13px;
    }
    position: relative;
    max-width: 400px;
}

/* how it works (hiw) styles */

.hiw-body {
    @include flex;
    @include flex-direction(column);
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.hiw-hero {
    @include flex;
    @include flex-justify-content(center);
    background-color: #2c3e50;
    padding: 100px;
    .hiw-hero-blurb {
        color: #ffffff;
        font-size: 42px;
        max-width: 795px;
        text-align: center;
    }
    .hiw-hero-blurb-blue {
        color: #29abe2;
        font-weight: 700;
    }

}

.hiw-what-is-testive {
    @include flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    padding: 50px;
    .hiw-what-is-testive-header {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
    }
    .hiw-john-video-wrapper {
        background-color: #2c3e50;
        height: 400px;
        margin: 0 auto 25px auto;
        width: 600px;
    }
    .hiw-what-is-testive-blurb {
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        max-width: 795px;
        text-align: center;
    }
}

.hiw-programs-and-features {
    @include flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    background-color: #2c3e50;
    color: #ffffff;
    padding: 50px;

    .hiw-programs-features-header {
        font-size: 24px;
        margin-bottom: 25px;
        text-align: center;
    }
    .hiw-features-emphasis {
        color: #29abe2;
        font-weight: 400;
    }
    .hiw-programs-features-row {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .hiw-program-features {
        @include flex;
        @include flex-direction(column);
        margin-right: 4%;
        max-width: 340px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .hiw-features-header {
        border-bottom: 1px solid #29abe2;
        color: #29abe2;
        font-size: 18px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    .hiw-features-intro {
        margin: 0 auto 15px auto;
        text-align: center;
        max-width: 320px;
    }
    .hiw-features-list {
        @include plan-item-smiley;
    }
    .hiw-features-list-items {
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 10px 35px;
    }
}

.hiw-programs-toggle {

}

.hiw-programs-steps {

}

.hiw-ctas {

}

.hiw-inspiration {

}
