/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

/* mixin for smiley face bullet points in features section */

@mixin plan-item-smiley {
    li:before {
        background-image: url('../images/checkmark-blue.svg');
        background-size: contain;
        background-repeat: no-repeat;
        content:'';
        height: 13px;
        left: 13px;
        margin-top: 5px;
        position: absolute;
        width: 13px;
    }
    position: relative;
}

/* how it works (hiw) styles */

.hiw-body {
    @include flex;
    @include flex-direction(column);
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.hiw-hero {
    @include flex;
    @include flex-justify-content(center);
    background-color: #2c3e50;
    padding: 100px;
    .hiw-hero-blurb {
        color: #ffffff;
        font-size: 42px;
        max-width: 795px;
        text-align: center;
    }
    .hiw-hero-blurb-blue {
        color: #29abe2;
        font-weight: 700;
    }

}

.hiw-what-is-testive {
    @include flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    padding: 50px;
    .hiw-what-is-testive-header {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
    }
    .hiw-john-video-wrapper {
        background-color: #2c3e50;
        height: 350px;
        margin: 0 auto 25px auto;
        width: 550px;
    }
    .hiw-what-is-testive-blurb {
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        max-width: 795px;
        text-align: center;
    }
}

.hiw-programs-and-features {
    @include flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    background-color: #2c3e50;
    color: #ffffff;
    padding: 75px 50px;

    .hiw-programs-features-header {
        font-size: 24px;
        margin-bottom: 25px;
        text-align: center;
    }
    .hiw-features-emphasis {
        color: #29abe2;
        font-weight: 400;
    }
    .hiw-programs-features-row {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .hiw-program-features {
        @include flex;
        @include flex-direction(column);
        margin-right: 4%;
        max-width: 340px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .hiw-features-header {
        border-bottom: 1px solid #29abe2;
        color: #29abe2;
        font-size: 18px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    .hiw-features-intro {
        margin: 0 auto 15px auto;
        text-align: center;
    }
    .hiw-features-list {
        @include plan-item-smiley;
    }
    .hiw-features-list-items {
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 10px 35px;
    }
}

.hiw-programs-steps {
    .hiw-programs-start {
        background-color: #2C3E50;
        height: 705px;
        z-index: 0;
    }
    .hiw-programs-start-bg {
        opacity: 0.3;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .hiw-programs-toggle {
        @include flex;
        @include flex-direction(column);
        @include flex-justify-content(center);
        background-color: rgba(255, 255, 255, 0.65);
        height: 350px;
        padding-bottom: 25px;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
    .hiw-programs-toggle-header {
        font-size: 24px;
        font-weight: 700;
        margin: 0 auto 25px auto;
        max-width: 600px;
        text-align: center;
    }
    .hiw-toggle-row {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .hiw-toggle {
        background-color: rgba(255, 255, 255, 0.6);
        border: 3px solid #2c3e50;
        border-radius: 5px;
        color: #2c3e50;
        font-weight: 700;
        margin-right: 3%;
        padding: 10px;
        text-align: center;
        width: 200px;
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            background-color: rgba(44, 62, 80, 0.7);
            color: #ffffff;
            transition: all 2s;
        }
    }
    .hiw-toggle-selected {
        background-color: rgba(44, 62, 80, 0.7);
        color: #ffffff;
    }
    .hiw-programs-start-header {
        @include flex;
        @include flex-direction(row);
        position: absolute;
        z-index: 2;
    }
    .hiw-programs-start-header-image {
        left: 45px;
        margin-right: 15px;
        position: relative;
        top: 505px;
        width: 50px;
        z-index: 2;
    }
    .hiw-programs-start-header-content {
        color: #ffffff;
        font-size: 42px;
        left: 50px;
        position: relative;
        top: 505px;
        z-index: 2;
    }
    .hiw-programs-content {
        @include flex;
        @include flex-direction(column);
        @include flex-justify-content(center);
        padding: 100px 50px;
    }
    .hiw-programs-content-header {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .hiw-programs-content-list {
        @include plan-item-smiley;
        max-width: 1000px;
        li:before {
            margin-top: 7px;
        }
    }
    .hiw-programs-content-list-item {
        font-size: 18px;
        margin: 0 0 15px 35px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .hiw-list-item-bold {
        font-size: 20px;
        font-weight: 700;
    }
    .hiw-programs-rhythm {
        background-color: #2C3E50;
        height: 335px;
        z-index: 0;
    }
    .hiw-programs-rhythm-bg {
        opacity: 0.3;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .hiw-programs-rhythm-header {
        @include flex;
        @include flex-direction(row);
        position: absolute;
        z-index: 2;
    }
    .hiw-programs-rhythm-header-image {
        left: 45px;
        margin-right: 15px;
        position: relative;
        top: 145px;
        width: 50px;
        z-index: 2;
    }
    .hiw-programs-rhythm-header-content {
        color: #ffffff;
        font-size: 42px;
        left: 50px;
        position: relative;
        top: 145px;
        z-index: 2;
    }
}

.hiw-ctas {

}

.hiw-inspiration {

}
